<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Inc.//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>Damy.MonitorClient</string>
        <key>Program</key>
        <string>/Applications/MonitorClient.app/Contents/MacOS/MonitorClient</string>
        <key>RunAtLoad</key>
        <true/>
        <key>StandardErrorPath</key>
        <string>/var/log/MonitorClient.log</string>
        <key>Debug</key>
        <true/>
</dict>
</plist>
